---
import MenuAside from "../components/menuAside.astro"
import MenuBar from "../components/menuBar.astro"
---
<div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
    <MenuAside />
    <MenuBar />
</div>