<footer class="footer px-4 py-6">
    <div class="footer-content">
        <p class="text-sm text-gray-600 text-center">© Brandname 2020. All rights reserved. <a href="https://twitter.com/iaminos">by iAmine</a></p>
    </div>
</footer>